@model WebTest.Entities.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <p style="color:red">@Model.Name</p>
    <p style="color:blue">@Model.Age</p>
</div>
</body>
</html>
